<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Skills</title>
</head>
<body>
    <h1>All Skills</h1>
    <a href="/skills/new">Add Skill</a>
    <ul>
        <% skill.forEach(s => { %>
         <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>

            - 

            <%= s.skill ? 'yes' : 'no' %>
         </li>
        <% }) %>
    </ul>
</body>
</html>